* {
    padding: 0;
}


body {
    background-color: rgb(100, 100, 255);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    margin-left: 1px;
}

.yay {
    display: none;
    border-radius: 2rem;
    
}

#text {
    min-height: 16px;
    font-size: xx-large;
    color: white;
    text-align: center;
}

.leaf {
    fill: green;
    animation: draw 3s ease-in-out infinite;
}


.branch {
    fill: rgb(90, 90, 90);
}

.petal {
    fill: rgb(120, 0, 0);
    animation: draw 3s ease-in-out infinite;
}

.rose-container {
    max-width: 100%;
    height: auto;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
    padding-left: 20%;
}

.rose {
    padding: 1rem;
    max-width: 100vw;
    height: auto;
}

.message h1 {
    text-align: center;
    font-size: 2.2rem;
    color: rgb(255, 200, 255);
}

.yes-no {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}

.yes-no button {
    padding: 0.5rem 2rem;
    font-size: large;
    border-radius: 0.4rem;
    color: white;
    border: 1px solid white;
}

#yes {
    background-color: rgb(120, 230, 120);
}

#no {
    background-color: rgb(230, 120, 120);
}

@keyframes draw {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(0.98);
    }

    75% {
        transform: scaleX(1.02);
    }

    100% {
        transform: scaleX(1);
    }
}
